.home-section {
    height: 70vh;
    width: 100%;
    background: url('../../assets/images/bg.png') no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.home-section .home-content {
    background-color: rgba(2, 54, 66, 0.95);
    color: #fff;
}

.home-section .home-content .home-content-text {
    position: absolute;
}

.home-section .home-content .home-content-text h1 {
    font-weight: 900;
    font-size: 3.1rem;
}

.home-section .home-content .home-content-text p {
    line-height: 25px;
    font-size: 0.7rem;
}

.home-section .home-content .home-content-text .home-button {
    padding-top: 20px;
}

.home-section .home-content .home-content-text .home-button .home-login-btn {
    background: #FF7D45;
    padding: 15px 30px;
    color: #fff;
    border: none;
    outline: none;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    font-weight: 400;
}

.home-section .home-content .home-content-text .home-button .home-login-btn:hover {
    background: #df581e;
}

.home-section .home-content .home-content-text .home-button .home-login-btn-2 {
    font-size: 13px;
    color: #FF7D45;
    border-bottom: #FF7D45 2px solid ;
    text-decoration: none;
    margin: 0 2rem;
    padding-bottom: 3px;
}

@media screen and (min-width: 1024px) {
    .home-section .home-content {
        padding: 0.1rem calc((100vw - 930px) / 2);
        height: 70vh;
    }
    .home-section .home-content .home-content-text {
        width: 70%;
        bottom: 130px;
    }

    .home-section .home-content .home-content-text h1{
        font-weight: 900;
        font-size: 3.1rem;
    }
    .home-section .home-content .home-content-text p {
        width: 30%;
    }
   
}

@media screen and (max-width: 768px) {
    .home-section .home-content {
        padding: 0.1rem calc((100vw - 685px) / 2);
        height: 73vh;
    }
    .home-section .home-content .home-content-text {
        width: 100%;
        bottom: 70px;
    }

    .home-section .home-content .home-content-text h1{
        font-weight: 900;
        font-size: 2.2rem;
    }
    .home-section .home-content .home-content-text p {
        width: 50%;
    }
    
}

@media screen and (max-width: 450px) {
    .home-section .home-content {
        padding: 0 30px;
        height: 73vh;
    }
    .home-section .home-content .home-content-text {
        width: 100%;
        bottom: 70px;
    }

    .home-section .home-content .home-content-text h1{
        font-weight: 900;
        font-size: 1.8rem;
    }
    .home-section .home-content .home-content-text p {
        width: 50%;
    }
}
