.container-mask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem calc((100vw - 930px) / 2);
}

.container-mask .one-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 20px;
  -webkit-box-shadow: -1px 5px 27px 0px rgba(0, 0, 0, 0.25);
          box-shadow: -1px 5px 27px 0px rgba(0, 0, 0, 0.25);
}

.container-mask .one-card .one-text {
  padding-left: 30px;
}

.container-mask .one-card .one-text h4 {
  letter-spacing: 1px;
  padding-bottom: 10px;
}

.container-mask .one-card .one-text p {
  font-size: 0.7rem;
  padding-bottom: 10px;
  line-height: 20px;
}

.container-mask .one-card .one-text .one-btn {
  color: #FF7D45;
  text-decoration: none;
  background-color: white;
  border-style: none;
  border-left: 2px solid #FF7D45;
  border-right: 2px solid #FF7D45;
  padding: 0 6px;
  letter-spacing: 1px;
  width: 80px;
  font-size: 0.6rem;
  font-weight: bold;
}

.container-mask .one-card .one-text .one-btn-2 {
  color: #FF7D45;
  text-decoration: none;
  background-color: #003B49;
  border-style: none;
  border-left: 2px solid #FF7D45;
  border-right: 2px solid #FF7D45;
  padding: 0 6px;
  letter-spacing: 1px;
  width: 80px;
  font-size: 0.6rem;
  font-weight: bold;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
