@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap');


.section-one-container {
  position: relative;
  height: 80vh;
  display: block;
  
  & .container-mask {
    
    & .one-card {
      display: flex; 
      width: 100%;
      padding: 30px 20px;
      box-shadow: -1px 5px 27px 0px rgba(0,0,0,0.25);
      background-color: #fff;
      
      & .one-text {
      
        
        & h4 {
          letter-spacing: 1px;
        }
  
        & p {
          font-size: 0.7rem;
          line-height: 20px;
        }
  
        & .one-btn {
          color: #FF7D45;
          text-decoration: none;
          background-color: white;
          border-style: none;
          border-left: 2px solid #FF7D45;
          border-right: 2px solid #FF7D45;
          padding: 0 6px;
          letter-spacing: 1px;
          width: 80px;
          font-size: 0.6rem;
          font-weight: bold;
        }
  
        & .one-btn-2 {
          color: #FF7D45;
          text-decoration: none;
          background-color: #003B49;
          border-style: none;
          border-left: 2px solid #FF7D45;
          border-right: 2px solid #FF7D45;
          padding: 0 6px;
          letter-spacing: 1px;
          width: 80px;
          font-size: 0.6rem;
          font-weight: bold;
        }
      }
    }
  }

  & .container-mask-2 {
    margin-top: 20px;

    & .two-card {
      
      
      & h3 {
        font-weight: 500;
        letter-spacing: 0.5px;

        & span {
          color: #FF7D45;
        }
      }

      & p {
        color: #7D7D7D;
        width: 85%;
        
        // padding-top: 25px;
        // padding-bottom: 25px;
      }

      & button {
        color: #003B49;
        text-decoration: none;
        background-color: #F5F5F5;
        border-style: none;
        padding: 15px 30px;
        font-weight: bold;
      }
    }

    & .second-half {
      position: relative;

      & .man1 {
        position: absolute;
        z-index: 2;
      }
  
      & .man2 {
        position: absolute;
        z-index: 1;
      }
  
      & .rectangle {
        position: absolute;
        left: 345px;
        top: 304px;
        z-index: 2;
      }

      & .registered {
        background-color: #FF7D45;
        position: absolute;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 17% 100%, 17% 35%);
        color: white;
        z-index: 3;
        text-align: center;
        
        & h3 {
          font-weight: 200;
          font-family: 'Poppins', sans-serif;
        }

        & p {
          font-family: 'Poppins', sans-serif;
        }
      }
    }
  }
}


@media only screen and (min-width: 1024px) {
  .section-one-container {
    height: 80vh;
  }

  .container-mask {
    padding: 0.1rem calc((100vw - 930px) / 2);
    display: flex;
    position: absolute;
    top: -25px;

    .one-text {
      padding-left: 30px;

      & h4 {
        padding-bottom: 10px;
      }

      & p {
        padding-bottom: 10px;
      }
    }
  }

  .container-mask-2 {
    padding: 0.5rem calc((100vw - 930px) / 2);
    display: flex;
    position: absolute;
    bottom: 0;
  }

  .man1 {
    top: 125px;
    left: -9px;
  }

  .man2 {
    left: 132px;
  }

  .registered {
    width: 220px;
    height: 104px;
    left: 340px;
    top: 305px;
    padding-top: 15px;
    padding-left: 35px;

    h3 {
      font-size: 2rem;
    }
  }

  .two-card {
    width: 50%;

    & h3 {
      font-size: 2rem;
      width: 80%;
    } 

    & p{
      line-height: 24px;
      font-size: 0.8rem;
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .section-one-container {
    height: 110vh;
  }

  .container-mask {
    padding: 0.5rem calc((100vw - 685px) / 2);
    display: flex;
    position: absolute;
    top: -25px;

    .one-text {
      padding-left: 7px;

      & h4 {
        padding-bottom: 3px;
      }

      & p {
        padding-bottom: 3px;
      }
    }
  }

  .container-mask-2 {
    padding: 0.5rem calc((100vw - 685px) / 2);
    display: flex;
    position: absolute;
    bottom: 0;
  }

  .two-card {
    width: 50%;

    & h3 {
      font-size: 1.7rem;
      width: 100%;
    } 

    & p{
      line-height: 20px;
      font-size: 0.8rem;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  .man1 {
    width: 190px;
    left: -20px;
    top: 120px;
  }

  .man2 {
    width: 260px;
    left:  80px;
  }

  .registered {
    width: 180px;
    height: 80px;
    left: 203px;
    top: 260px;
    padding-top: 8px;
    padding-left: 28px;
    
    & h3 {
      font-size: 1.5rem;
    }

    & p {
      font-size: 0.9rem;
    }
  }
}

@media only screen and (min-width: 360px) and (max-width: 435px) {
  .section-one-container {
    height: 140vh;
  }

  .container-mask {
    display: block;
    padding: 0 30px;

    .one-text {
      padding-left: 7px;

      & h4 {
        padding-bottom: 3px;
      }

      & p {
        padding-bottom: 3px;
      }
    }
  }

  .container-mask-2 {
    display: block;
    padding: 0 30px;

    & .second-half {
      margin-top: 30px;
    }
  }

  .two-card {
    width: 100%;

    & p {
      font-size: 0.8rem;
    }
  }

  .registered {
    width: 150px;
    height: 60px;
    left: 190px;
    top: 236px;

    & h3 {
      font-size: 1.2rem;
    }

    & p {
      font-size: 0.7rem;
    }
  }

  .man2 {
    width: 230px;
    left:  60px;
  }

  .man1 {
    width: 170px;
    left: -3px;
    top: 100px;
  }
}

@media only screen and (max-width: 320px) {
  .container-mask {
    display: block;
    padding: 0 30px;
  }

  .container-mask-2 {
    display: block;
    padding: 0 30px;

    & .second-half {
      margin-top: 30px;
    }
  }

  .one-text {
    
    & h4 {
      font-size: 0.9rem;
    }

    & p {
      line-height: 15px;
    }
  }

  .two-card {
    width: 100%;

    & h3 {
      font-size: 1.6rem;
    }

    & p {
      font-size: 0.7rem;
      line-height: 15px;
    }
  }

  .man2 {
    width: 210px;
    left: 20px;
  }

  .man1 {
    width: 130px;
    top: 110px;
  }

  .registered {
    width: 140px;
    height: 60px;
    left: 140px;
    top: 200px;

    & h3 {
      font-size: 1.2rem;
    }

    & p {
      font-size: 0.7rem;
    }
  }
}