footer {
  background: #f5f5f5;
  height: 40vh;
  /* width: 100vw; */
  padding: 30px 220px;

  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  column-gap: 15px;
  align-items: center;
}

img {
  width: 150px;
}

p {
  font-size: smaller;
  margin: 10px 0px;
}

h4 {
  color: #003b49;
}
