.customButton {
    border-radius: 15px;
    border: none;
    /* font-size: 0.7rem; */
    padding: 0.99rem;
    width: 30%;
    margin: 1rem;
    /* border:0.1px solid; */
    outline: none;
    background-color: #ff7d45;
}